@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

/* 👇 custom styles after plugin imports */
@layer components {
  .btn-custom {
    @apply btn bg-[--color-primary] text-black hover:bg-[--color-secondary];
  }
}
